
  body {
    border: 1px rgb(86, 105, 211) solid;
    padding: 10px;
    font-family: 'Noto Sans TC', sans-serif;
  }

  div.bar {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    width: 15px;
    height: 75px; /* We'll override height later */
    background-color: lightsteelblue;
    vertical-align: bottom;
  }
    